<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nickgao.com.meiyousample" >




    <application
        android:name=".SeeyouApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ApplicationTheme"

        >
        <activity android:name=".VideoPlayTestActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".skin.SkinDownloadService" />

        <activity android:name=".myfragment.DynamicDetailActivity"></activity>
        <activity android:name="com.lingan.seeyou.ui.view.photo.PhotoActivity"/>
        <activity android:name="com.lingan.seeyou.ui.view.photo.ClipImageActivity"/>
        <activity android:name="com.lingan.seeyou.ui.view.photo.BucketOverviewActivity"/>
        <activity android:name="com.meetyou.crsdk.video.JCFullScreenActivity"/>

    </application>

</manifest>